extends ../layouts/default

block main
  h1= title

block content
  - var action = '/articles'
  - action += article.isNew? '' : '/' + article.id
  h1 aaa
  div(ng-app='myApp')
    .panel.panel-default
      .panel-heading Markdown
      .panel-body
        .form.markdown-preview
          .form-group.col-sm-6
            label Input
            textarea.form-control(ng-model='markdown')
          .form-group.col-sm-6
            label Output
            .form-control(btf-markdown='markdown')

    .row
      .col-md-8
        form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

          input(type="hidden", name="_csrf", value="#{csrf_token}")

          - if (!article.isNew)
            input(type="hidden", name="_method", value="PUT")

          .form-group
            label.col-sm-2.control-label(for='title') Title
            .col-sm-10
              input.form-control#title(type='text', name="title", value=article.title, placeholder='Enter the title')

          .form-group
            label.col-sm-2.control-label(for='file') Image
            .col-sm-10
              input.form-control#file(type='file', name="image")

          .markdown-preview
            .form-group
              label.col-sm-2.control-label(for='desc') Body
              .col-sm-5
                textarea.form-control#desc(data-ng-model="article.body",rows="5", name="body", placeholder='Enter the article description')=article.body
              .col-sm-5
                btf-markdown.form-control #{article.body}

          .form-group
            label.col-sm-2.control-label(for='tags') Tags
            .col-sm-10
              input.form-control#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')

          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-primary(type='submit') Save
              | &nbsp;
              a.btn(href='/articles', title="cancel") Cancel

      .col-md-4
        - if (!article.isNew && article.image && article.image.files && article.image.files.length)
          img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
